div[cell] {
    border: 1px solid black;
    text-align: center;
}

div[sleva] {
    font-style: italic;
}

div[sprava] {
    font-weight: bold;
}

pre {
    margin-bottom: 1px;
}

button {
    margin-bottom: 10px;
}